/** @format */

/* .circle:before {
	position: absolute;
	content: '';
	width: 90px;
	height: 90px;
	top: -75px;
	left: calc(50% - 45px);
	background-color: red;
	border-radius: 50%;
} */

.circle {
	left: 50%;
	top: 50%;
}

.circle {
	position: absolute;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;

	/* only the below creates the transparent gap and the fill */
	background: radial-gradient(
		50px 50px at 50% 50%,
		rgba(0, 0, 0, 0) 75px,
		rgba(0, 0, 0, 0.8) 50.5px
	);
}
